# Environment variable file
.env

# Dependency directories
node_modules/

# lint configuration file
.eslintrc.cjs

# local run files
localRun.js

#lambda zip files
index.zip
index-2.zip

# package-lock file
package-lock.json